workflows/basic.json
{"name":"Secretary Bot","nodes":[{"parameters":{"path":"secretary","httpMethod":"*","authentication":"none","responseMode":"whenLastNodeFinishes","options":{}},"id":"webhook_1","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300]},{"parameters":{"prompt":"={{ $json.body.message || $json.query.message }}","systemMessage":"You are a helpful secretary assistant. You help with scheduling, answering questions, taking notes, and general administrative tasks. Respond in a professional and friendly manner.","require_specific_output_format":false},"id":"ai_agent_1","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[700,300]},{"parameters":{"model":"gpt-4o","options":{"temperature":0.7,"maxTokens":1000}},"id":"chatgpt_1","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[700,500],"credentials":{"openAiApi":{"id":"{{ $connections.openAiApi.apiKey }}","name":"OpenAI account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"secretary_bot_session"},"id":"memory_1","name":"Simple Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.2,"position":[700,100]}],"connections":{"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"ai_chatModel":[[{"node":"OpenAI Chat Model","type":"ai_chatModel","index":0}]],"ai_memory":[[{"node":"Simple Memory","type":"ai_memory","index":0}]]},"OpenAI Chat Model":{"ai_chatModel":[[{"node":"AI Agent","type":"ai_chatModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]}}}