workflows/secretary_agent.json
{"name":"Secretary Bot Workflow","nodes":[{"parameters":{"authentication":"oAuth2","resource":"message","operation":"get","messageId":"={{ $json.messageId }}"},"id":"1a2b3c4d-5e6f-7g8h-9i0j-1k2l3m4n5o6p","name":"Get Email Details","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[650,460],"credentials":{"gmailOAuth2":{"id":"{{ $connections.gmailOAuth2 }}","name":"Gmail OAuth2"}}},{"parameters":{"authentication":"oAuth2","resource":"calendar","operation":"getAll","calendarId":"primary","returnAll":true,"options":{"timeMin":"={{ $now.minus(7, 'days').toISO() }}","timeMax":"={{ $now.plus(30, 'days').toISO() }}"}},"id":"2b3c4d5e-6f7g-8h9i-0j1k-2l3m4n5o6p7q","name":"Get Calendar Events","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[650,620],"credentials":{"googleCalendarOAuth2":{"id":"{{ $connections.googleCalendarOAuth2 }}","name":"Google Calendar OAuth2"}}},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"download","fileId":"={{ $env['COMPANY_INFO_FILE_ID'] }}"},"id":"3c4d5e6f-7g8h-9i0j-1k2l-3m4n5o6p7q8r","name":"Get Company Info","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[650,780],"credentials":{"googleDriveOAuth2":{"id":"{{ $connections.googleDriveOAuth2 }}","name":"Google Drive OAuth2"}}},{"parameters":{"agentType":"conversationalAgent","text":"={{ $json.query }}","systemMessage":"You are a helpful secretary bot with access to company information, emails, and calendar. Use the provided context to answer questions accurately. If asked about scheduling, check the calendar. For company-related questions, refer to the company info document. For email-related queries, search through the available emails.\n\nContext:\n- Company Info: {{ $node['Get Company Info'].json.data }}\n- Recent Emails: {{ $node['Get Email Details'].json }}\n- Calendar Events: {{ $node['Get Calendar Events'].json }}\n\nAlways be professional, concise, and helpful.","options":{"temperature":0.7,"maxTokens":1000}},"id":"4d5e6f7g-8h9i-0j1k-2l3m-4n5o6p7q8r9s","name":"AI Secretary Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[1050,540],"credentials":{"openAiApi":{"id":"{{ $connections.openAiApi }}","name":"OpenAI API"}}},{"parameters":{"httpMethod":"POST","url":"={{ $env['WEBHOOK_URL'] }}","authentication":"none","sendBody":true,"bodyParameters":{"parameters":[{"name":"response","value":"={{ $json.output }}"},{"name":"responseType","value":"={{ $json.outputType }}"},{"name":"conversationId","value":"={{ $json.conversationId }}"}]},"options":{}},"id":"5e6f7g8h-9i0j-1k2l-3m4n-5o6p7q8r9s0t","name":"Send Response","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1450,540],"continueOnFail":true},{"parameters":{"triggerOn":"create","pollTimes":{"item":[{"mode":"everyMinute"}]},"options":{}},"id":"6f7g8h9i-0j1k-2l3m-4n5o-6p7q8r9s0t1u","name":"On New Message","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[250,540],"webhookId":"{{ $env['TELEGRAM_WEBHOOK_ID'] }}","credentials":{"telegramApi":{"id":"{{ $connections.telegramApi }}","name":"Telegram API"}},"notes":"Triggers on new Telegram messages (text or voice)"},{"parameters":{"mode":"raw","jsonOutput":"={{ $json.body }}","options":{}},"id":"7g8h9i0j-1k2l-3m4n-5o6p-7q8r9s0t1u2v","name":"Parse Input","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[450,540],"notes":"Extracts query and determines input type"},{"parameters":{"errorMessage":"Failed to process request","options":{}},"id":"8h9i0j1k-2l3m-4n5o-6p7q-8r9s0t1u2v3w","name":"Error Handler","type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[1250,740],"notes":"Catches and logs errors"},{"parameters":{"content":"## Secretary Bot Workflow\n\n### Purpose\nThis workflow creates an intelligent secretary bot that can:\n1. Respond to text and voice inputs via Telegram\n2. Access Google Calendar for scheduling information\n3. Read company information from Google Drive\n4. Search through Gmail messages\n5. Use AI to provide contextual responses\n\n### Configuration Required\n1. Set up OAuth2 credentials for Gmail, Google Calendar, and Google Drive\n2. Configure Telegram bot credentials\n3. Set environment variables:\n   - COMPANY_INFO_FILE_ID: Google Drive file ID containing company info\n   - WEBHOOK_URL: Endpoint for sending responses\n   - TELEGRAM_WEBHOOK_ID: Telegram webhook identifier\n4. Configure OpenAI API credentials for the AI agent\n\n### Workflow Logic\n1. Receives messages via Telegram trigger\n2. Parses input to determine query type\n3. Fetches relevant context (emails, calendar, company info)\n4. AI agent processes query with context\n5. Sends appropriate response (text or voice)\n6. Error handling for failed operations","height":464.3798449612403,"width":628.6821705426357},"id":"9i0j1k2l-3m4n-5o6p-7q8r-9s0t1u2v3w4x","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[200,200]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"adf8c9b2-4e6a-4f2d-b4c7-1e3f5a7b9d2c","leftValue":"={{ $json.inputType }}","rightValue":"voice","operator":{"type":"string","operation":"equals","singleValue":true}}],"combinator":"and"},"options":{}},"id":"0j1k2l3m-4n5o-6p7q-8r9s-0t1u2v3w4x5y","name":"Check Input Type","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[650,300],"notes":"Routes to voice transcription if needed"},{"parameters":{"model":"whisper-1","uploadMode":"binaryData","binaryPropertyName":"audioData","options":{"temperature":0.2}},"id":"1k2l3m4n-5o6p-7q8r-9s0t-1u2v3w4x5y6z","name":"Transcribe Voice","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.4,"position":[850,200],"credentials":{"openAiApi":{"id":"{{ $connections.openAiApi }}","name":"OpenAI API"}},"notes":"Converts voice to text"},{"parameters":{"assignments":{"assignments":[{"id":"b2c3d4e5-f6g7-h8i9-j0k1-l2m3n4o5p6q7","name":"query","value":"={{ $('Check Input Type').item.json.inputType === 'voice' ? $json.text : $('Parse Input').item.json.text }}","type":"string"}]},"options":{}},"id":"2l3m4n5o-6p7q-8r9s-0t1u-2v3w4x5y6z7a","name":"Merge Query","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1050,300],"notes":"Combines text/voice input"},{"parameters":{"jsCode":"try {\n  const outputType = $input.item.json.preferredOutput || 'text';\n  const response = $('AI Secretary Agent').item.json.output;\n  \n  if (outputType === 'voice') {\n    // Prepare for text-to-speech conversion\n    return {\n      json: {\n        text: response,\n        outputType: 'voice',\n        conversationId: $('Parse Input').item.json.conversationId\n      }\n    };\n  } else {\n    return {\n      json: {\n        output: response,\n        outputType: 'text',\n        conversationId: $('Parse Input').item.json.conversationId\n      }\n    };\n  }\n} catch (error) {\n  throw new Error('Failed to prepare response: ' + error.message);\n}"},"id":"3m4n5o6p-7q8r-9s0t-1u2v-3w4x5y6z7a8b","name":"Prepare Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1250,540],"notes":"Formats response based on preferred output type"},{"parameters":{"resource":"textToSpeech","text":"={{ $json.text }}","voice":"alloy","model":"tts-1","options":{"speed":1,"responseFormat":"mp3"}},"id":"4n5o6p7q-8r9s-0t1u-2v3w-4x5y6z7a8b9c","name":"Convert to Voice","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.4,"position":[1450,400],"credentials":{"openAiApi":{"id":"{{ $connections.openAiApi }}","name":"OpenAI API"}},"notes":"Generates voice response if requested"}],"connections":{"On New Message":{"main":[[{"node":"Parse Input","type":"main","index":0}]]},"Parse Input":{"main":[[{"node":"Check Input Type","type":"main","index":0}]]},"Check Input Type":{"main":[[{"node":"Transcribe Voice","type":"main","index":0}],[{"node":"Merge Query","type":"main","index":0}]]},"Transcribe Voice":{"main":[[{"node":"Merge Query","type":"main","index":0}]]},"Merge Query":{"main":[[{"node":"Get Email Details","type":"main","index":0},{"node":"Get Calendar Events","type":"main","index":0},{"node":"Get Company Info","type":"main","index":0}]]},"Get Email Details":{"main":[[{"node":"AI Secretary Agent","type":"main","index":0}]]},"Get Calendar Events":{"main":[[{"node":"AI Secretary Agent","type":"main","index":0}]]},"Get Company Info":{"main":[[{"node":"AI Secretary Agent","type":"main","index":0}]]},"AI Secretary Agent":{"main":[[{"node":"Prepare Response","type":"main","index":0}]]},"Prepare Response":{"main":[[{"node":"Send Response","type":"main","index":0},{"node":"Convert to Voice","type":"main","index":0}]]},"Convert to Voice":{"main":[[{"node":"Send Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"{{ $env['ERROR_WORKFLOW_ID'] }}"},"staticData":null,"pinData":{},"versionId":"a1b2c3d4-e5f6-7890-abcd-ef1234567890","triggerCount":1}